aiohttp==3.8.6
aiosignal==1.3.1
alembic==1.13.0
annotated-types==0.6.0
ansicolors==1.1.8
anyio==4.1.0
apache-airflow==2.8.0
apache-airflow-providers-common-sql==1.9.0
apache-airflow-providers-docker==3.8.2
apache-airflow-providers-ftp==3.7.0
apache-airflow-providers-http==4.8.0
apache-airflow-providers-imap==3.5.0
apache-airflow-providers-sqlite==3.6.0
apache-beam==2.48.0
apache-flink==1.18.0
apache-flink-libraries==1.18.0
apispec==6.3.0
argcomplete==3.2.1
argparse-color-formatter==1.2.2.post2
argparse-manpage==4.4
asgiref==3.7.2
async-timeout==4.0.3
attrs==23.1.0
avro-python3==1.9.2.1
Babel==2.14.0
backoff==2.2.1
black==23.12.1
bleach==6.0.0
blinker==1.7.0
boto3==1.34.7
botocore==1.34.7
build==0.10.0
cachelib==0.9.0
cachetools==5.3.1
certifi==2023.11.17
cffi==1.16.0
charset-normalizer==3.3.2
click==8.1.7
clickclick==20.10.2
cloudpickle==2.2.1
colorama==0.4.6
colorlog==4.8.0
ConfigUpdater==3.2
connexion==2.14.2
coverage==7.3.4
crcmod==1.7
cron-descriptor==1.4.0
croniter==2.0.1
cryptography==41.0.7
Deprecated==1.2.14
dill==0.3.1.1
direnv==2020.12.3
dnspython==2.4.2
docker==7.0.0
docopt==0.6.2
docutils==0.20.1
email-validator==1.3.1
emoji==2.7.0
env-file==2020.12.3
exceptiongroup==1.2.0
fastavro==1.4.7
fasteners==0.19
find-libpython==0.3.0
flake8==6.1.0
Flask==2.2.5
Flask-AppBuilder==4.3.10
Flask-Babel==2.0.0
Flask-Caching==2.1.0
Flask-JWT-Extended==4.6.0
Flask-Limiter==3.5.0
Flask-Login==0.6.3
Flask-Session==0.5.0
Flask-SQLAlchemy==2.5.1
Flask-WTF==1.2.1
frozenlist==1.4.1
fsspec==2023.12.2
google-auth==2.17.3
google-re2==1.1
googleapis-common-protos==1.62.0
GPUtil==1.4.0
graphviz==0.20.1
greenlet==3.0.2
grpcio==1.60.0
gunicorn==21.2.0
h11==0.14.0
hdfs==2.7.2
httpcore==0.16.3
httplib2==0.20.4
httpx==0.23.3
idna==3.6
importlib-metadata==6.11.0
importlib-resources==6.1.1
inflection==0.5.1
iniconfig==2.0.0
itsdangerous==2.1.2
jaraco.classes==3.3.0
jeepney==0.8.0
Jinja2==3.1.2
jmespath==0.10.0
jsonpickle==3.0.1
jsonschema==4.20.0
jsonschema-specifications==2023.11.2
kafka-python==2.0.2
keyring==24.2.0
kubernetes==28.1.0
lazy-object-proxy==1.10.0
limits==3.7.0
linkify-it-py==2.0.2
lockfile==0.12.2
Mako==1.3.0
Markdown==3.5.1
markdown-it-py==3.0.0
MarkupSafe==2.1.3
marshmallow==3.20.1
marshmallow-oneofschema==3.0.1
marshmallow-sqlalchemy==0.26.1
mccabe==0.7.0
mdit-py-plugins==0.4.0
mdurl==0.1.2
more-itertools==10.1.0
multidict==6.0.4
mypy==1.8.0
mypy-extensions==1.0.0
numpy==1.21.6
oauthlib==3.2.2
objsize==0.6.1
opentelemetry-api==1.22.0
opentelemetry-exporter-otlp==1.22.0
opentelemetry-exporter-otlp-proto-common==1.22.0
opentelemetry-exporter-otlp-proto-grpc==1.22.0
opentelemetry-exporter-otlp-proto-http==1.22.0
opentelemetry-proto==1.22.0
opentelemetry-sdk==1.22.0
opentelemetry-semantic-conventions==0.43b0
ordered-set==4.1.0
orjson==3.9.7
packaging==23.2
pandas==1.3.5
pathspec==0.12.1
pemja==0.3.0
pendulum==2.1.2
pip-autoremove==0.10.0
pipdeptree==2.13.1
pkginfo==1.9.6
platformdirs==3.10.0
pluggy==1.3.0
prettytable==3.9.0
prison==0.2.1
prometheus-client==0.19.0
proto-plus==1.22.3
protobuf==4.23.4
psutil==5.9.6
psycopg2==2.9.9
py4j==0.10.9.7
pyarrow==8.0.0
pyasn1==0.5.0
pyasn1-modules==0.3.0
pycodestyle==2.11.0
pycparser==2.21
pydantic==2.5.2
pydantic_core==2.14.5
pydot==1.4.2
pyflakes==3.1.0
Pygments==2.17.2
PyJWT==2.8.0
pymongo==3.13.0
pyparsing==3.1.1
pyproject_hooks==1.0.0
pyspark==3.5.0
pytest==7.4.3
pytest-asyncio==0.21.1
python-daemon==3.0.1
python-dateutil==2.8.2
python-dotenv==1.0.0
python-nvd3==0.15.0
python-slugify==8.0.1
pytz==2023.3.post1
pytzdata==2020.1
PyYAML==6.0.1
readme-renderer==40.0
redis==5.0.1
referencing==0.32.0
regex==2023.8.8
requests==2.31.0
requests-oauthlib==1.3.1
requests-toolbelt==1.0.0
retrying==1.3.4
rfc3339-validator==0.1.4
rfc3986==1.5.0
rich==13.7.0
rich-argparse==1.4.0
rpds-py==0.13.2
rsa==4.9
s3transfer==0.10.0
SecretStorage==3.3.3
setproctitle==1.3.3
shortuuid==1.0.11
six==1.16.0
sniffio==1.3.0
SQLAlchemy==1.4.50
SQLAlchemy-JSONField==1.0.2
SQLAlchemy-Utils==0.41.1
sqlparse==0.4.4
streamz==0.6.4
tabulate==0.9.0
tenacity==8.2.3
termcolor==2.4.0
text-unidecode==1.3
tomli==2.0.1
toolz==0.12.0
tornado==6.3.3
twine==4.0.2
typing_extensions==4.9.0
tzdata==2023.3
uc-micro-py==1.0.2
unicodecsv==0.14.1
universal-pathlib==0.1.4
urllib3==1.26.18
values==2020.12.3
wcwidth==0.2.6
webencodings==0.5.1
websocket-client==1.6.1
Werkzeug==2.2.3
wrapt==1.16.0
WTForms==3.1.1
yarl==1.9.4
zict==3.0.0
zipp==3.17.0
zstandard==0.21.0
